.cover__subtitle {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    max-width: 360px;
    z-index: 1;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 276px;
    }
}