.lead__illustration-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 984px;
}

@media screen and (min-width: 1023px) and (max-width: 1279px) {
    .lead__illustration-container {
        max-width: 928px;
    }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    .lead__illustration-container {
        max-width: 768px;
    }
}

@media screen and (max-width: 767px) {
    .lead__illustration-container {
        max-width: 320px;
    }
}